:root{
  --box-height: 250px;
}

html, body{
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

.navbar{background: #222;}

.row{
  height: 92.7%;
  margin-bottom: -3%;
}

#editor-side{
  height: auto;
  padding: 0px !important;
  /* border-right: 2px solid #333; */
  box-sizing: border-box;
}

#html-box, #css-box, #js-box{
  height: calc(var(--box-height));
  box-sizing: border-box;
  border-right: 2px solid #333;
}
.box-heading{
  padding: 3px 0 3px 20px;
  background-color: #333;
  color: white;
}
#html-editor, #css-editor, #js-editor{
  height: calc(var(--box-height) - 1rem - 16px);
  width: 100%;
  font-size: 14px;
}

/* hide scrollbars in chrome - don't know about FF */
::-webkit-scrollbar {
    display: none;
}

#preview-box{
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

#preview-target{
  height: 100%;
  width: 100%;
  border: none;
  /* margin-bottom: -0.6%; */
  /* padding: -3.2%; */
}
