html, body{
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

.wrapper{
  padding: 0px !important;
  height: 100%;
}

.row{
  height: 100%;
}

#editor-side{
  height: 100%;
  padding: 0px !important;
}

#html-box, #css-box, #js-box{
  height: 30%;
}
#html-editor, #css-editor, #js-editor{
  height: 90%;
  width: 100%;
  font-size: 13px;
}

/* hide scrollbars in chrome - don't know about FF */
::-webkit-scrollbar {
    display: none;
}

#preview-box{
  height: 100%;
  width: 100%;
}

#preview-target{
  height: 100%;
  width: 100%;
  border: none;
}
