html, body{
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

.row{
  height: 92.7%;
}

#editor-side{
  height: 100%;
  padding: 0px !important;
  border: 2px solid #333;
  box-sizing: border-box;
}

#html-box, #css-box, #js-box{
  height: 33.33%;
  padding-bottom: 7px;
  box-sizing: border-box;
}
.box-heading{
  padding: 3px 0 3px 20px;
  background-color: #333;
  color: white;
}
#html-editor, #css-editor, #js-editor{
  height: 85%;
  width: 100%;
  font-size: 14px;
}

/* hide scrollbars in chrome - don't know about FF */
::-webkit-scrollbar {
    display: none;
}

#preview-box{
  height: 90%;
  width: 100%;
  border-top: 2px solid #333;
}

#preview-target{
  height: 100%;
  width: 100%;
  border: none;
}
